<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

  <test name="Registration">
    <classes>
      <class name="ui.ProductsTests"/>
    </classes>
  </test>

  <test name="Registration2">
    <classes>
      <class name="ui.ProductsTests"/>
    </classes>
  </test>

  <test name="Registration3">
    <classes>
      <class name="ui.ProductsTests"/>
    </classes>
  </test>


<!--  <test name="Cart">-->
<!--    <classes>-->
<!--      <class name="ui.ProductsTests"/>-->
<!--      <class name="ui.SignTests"/>-->
<!--    </classes>-->
<!--  </test>-->


</suite>
